@charset "utf-8";
/* CSS Document */

/*Condicionales para la pantalla*/
/*Chrome*/
@-webkit-viewport{width:device-width;}
/*Mozilla*/
@-moz-viewport{width:device-width;}
/*Opera*/
@-o-viewport{width:device-width;}
/*Navegadores html5*/
@viewport{width:device-width;}
@-ms-viewport{width:device-width;}

#botones{
	width:70%;
	margin-left:15%;
}


/*Propiedad general para el pie de página*/
#footer { display: none }

/*Propiedad general para todos los campos de texto del aplicativo*/
input[type=text]{
  color:#FFFFFF;  
}

input[type=email]{
  color:#FFFFFF;  
}

/*Propiedad general para todos los campos de tipo numerico del aplicativo*/

input[type=number]{
  color:#FFFFFF;
}

/*Indicador del boton del home*/
#homebtn {
  float: left;
  width: 10%;
  padding-top:-5px;
}

/*Css para los titulos de cada pantalla*/
#tituloh3{
color:red;
}

/*Css para los titulos de la pantalla de datos personales*/
#titulo2nd{
color:white;
font-weight:bold;
}


/*estilo de la tercera pagina (cuatro botones)*/
#pg-third{
	width:100%;
	height:5em;
	background-image:url(../img/Fondo12.png);
}

/*#pg-report{
	width:100%;
	height:5em;
	background-image:url(../img/Fondo12.png);
}*/

/*content*/
#ctnt {
width: 100%;
/*background-color: #f00;*/        
margin: 0px;
left: 0px;
}

/*botones de tomar foto, galeria y visualizador de foto*/
#btnsypic {
  float: left;
  width: 10%;
}

/*small image*/
#simg {
  margin-left: 50%;
}

/*imagen colocada en acerca de*/
#img {
    width: 100%;
    height: 100%;
    margin: 100%;
}
/*codigo reciclado*/
#xxx{
	width:100%;
	//margin-left:2%;
	height:5em;
	//border-top:solid 10px #f8882a;
	//border-left:solid 10px #f8882a;
	//border-right:solid 10px #f8882a;
	//border-top-right-radius:20px;
	//border-top-left-radius:20px;
	background-image:url(../img/Fondo12.png);
	//box-shadow: inset 0px 0px 50px #000;
	}

 
